{% extends "base.html" %}

{% block content %}
<h2>transfer_item.html</h2>

<form action="confirm_transfer" method="POST">
<h3>item_id: {{ itemID }}   </h3>
<h3>from cell: {{fromCell_id }}  </h3>
<h3>to cell: {{ targetCell_id }}  </h3>
<h3>Notes:</h3>
<input type="hidden" name="item_id" value={{ itemID }} />
<input type="hidden" name="from_cell_id" value={{ fromCell_id }} />
<input type="hidden" name="to_cell_id" value={{ targetCell_id }} />
<textarea rows="5" cols="50" name="notes"> </textarea>

<button class="btn btn-primary">Confirm transfer</button>
</form>
{% endblock %}
